{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-­fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}">
    <title>BookTime</title>
</head>
<body>
 
   
    <div
      class="collapse navbar-collapse"
      id="navbar">
      <img src="{%static 'images/bakery-light-1-GDSC.png'%}" class="toppp">
      <nav>
      <ul class="topnav" >
        
        <li
        class="right {% if request.path == "/contact-us/" %} active{% endif %}">
         <a class="nav-link" href="/contact-us/">contact us</a>
       </li>
       <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
          <a href="#">Blog index</a>
          <a href="#">simple post</a>
          <a href="#">gallary post</a>
          <a href="#">Basic post</a>
        </div>
      </li>
      
       <li
       class="right {% if request.path == "/about-us/" %} active{% endif %}">
        <a class="nav-link" href="/about-us/">About us</a>
      </li>
      <li class="right {% if request.path == "/" %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
       </li> 
       
        
        
        </li>
       
        
      </ul>
     
    </div>
  </nav>
  

 {% block content %} 
   
 {% endblock content %}
 
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</body>
</html>