
{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
  <img src="{%static 'images/drew-coffman-GDSC.jpg'%}"style="height: 1025px;">
  
  <div class="centered"><h3>Welcome to</h3>
    <h1>Family Bakery</h1>
    <p>We're the biggest, best equipped and most advanced Bakery in the greater Los Angeles area. </p>
    <button class="btn ">Learn More</button>
    <button class="btn1 ">Contact Us</button>
  </div>

  </div>
  <div class="cont1">
    
      <img class="img2" src="{%static 'images/alexandru-stavrica-GDSC.jpg'%}"style="width: 500px;">
       <div class="textimg">
      <h1>Who we are?</h1>
       <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.</p>

    </div>
    
  
  
  </div>
  <div class="cont3">
    
    <img class="img3" src="{%static 'images/Cover-GDSC.jpg'%}"style="width: 500px;">
    <div class="textimg1">
      <h1>Our Location</h1>
      <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.</p>

    </div>
    <div class="qwer">

     <div class="centered1">
          <div class="newqwer">Our Baking</div>
         <p>Learn more about them. We have worked truly hard to make them perfect for every use. </p>
         
      </div>
    </div>
    <div class="another">
      <div class="num1"><img class="img3" src="{%static 'images/ben-garratt-GDSC.jpg'%}"style="width: 350px;">
        <div class="text1" style="width: 300px; height: 50px; margin-left:25%;"><h1>Superior Breads</h1></div>
        <div style="width: 300px; height: 200px; margin-left:15%;"><p>Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis libero, at semper mauris velit a velit. Phasellus commodo turpis et lacinia posuere.</p></div>
          
      </div>
      <div class="num2"><img class="img3" src="{%static 'images/stas-ovsky-GDSC.jpg'%}"style="width: 350px;"><div class="text1" style="width: 300px; height: 50px; margin-left:40%;"><h1>Bagels</h1></div>
           <div style="width: 300px; height: 200px; margin-left:15%;"><p>Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis libero, at semper mauris velit a velit. Phasellus commodo turpis et lacinia posuere.</p></div>
      </div>
      <div class="num3"><img class="img3" src="{%static 'images/clem-onojeghuo-GDSC.jpg'%}"style="width: 350px;"><div class="text1" style="width: 300px; height: 50px; margin-left:40%;"><h1>Cookies</h1></div>
      <div style="width: 300px; height: 200px; margin-left:15%;"><p>Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis libero, at semper mauris velit a velit. Phasellus commodo turpis et lacinia posuere.</p></div>
        </div>

    </div>
    <div class="cont5">
     
      <iframe  class="img3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1856166.825505692!2d48.800221099999995!3d24.681323599999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f0367a265254f%3A0xefdbe15d9a88e98d!2z2K3Ysdin2Kwg2KfZhNmD2YXYqNmK2YjYqtixINin2YTYudmE2YrYpw!5e0!3m2!1sar!2seg!4v1674312573919!5m2!1sar!2seg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       <div class="textimg1">
          <h1>Our Location</h1>
          <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.</p>

       </div>
       <div class="under1">
        <img class="img3" src="{%static 'images/Screenshot_2023-01-18_13_38_32.png'%}"style="margin-top:150px; margin-left:-20%;height:650px;">
      </div>

 </div>
 <div id="mySidenav" class="sidenav">
   <a href="#" id="about"><i class="fa fa-fw fa-wrench"></i></a>
   <a href="#" id="blog">Blog</a>
  
  </div>
  
  
 
{% endblock content %}